body {
    font-family: "Times New Roman";
    background-color: #8C5946;
    background-image: url(bg_wardrobe.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
nav{
    display: inline-block;
    margin: auto;
    width: 50%;
    padding-left: 400px;
}

H1 {
    color: #52260B;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 150px;
    font-family:'Abril Fatface', cursive;
    position:  relative;
    background-color:#D9CDBF;
    font-size: 50px;
    z-index: 1;
}
H2{

    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

ul {
    display: flex;
    position: fixed;
    text-align: center;
    font-size: 20px;
    padding-left:0;
    list-style:none;
    font-weight: bold;
    margin-top: -25px;
    margin-left: -30px;
    z-index: 2;
}
li{
    position: relative;
}
li:focus-within> .submenu,
li:hover > .submenu {
    /*display: flex;*/
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
}
a {
    display: block;
    color: #52260B;
    text-decoration: none;
    background-color: #D9CDBF;
    padding: 1em;
    white-space: nowrap;
}
li:hover>a,
a:hover {
    background-color:#A6866A;
}

.submenu { 
    flex-direction: row;
    position: absolute;
    clip:  rect(0 0 0 0);
    width: lpx;
    height: lpx;
    margin: -lpx;
}

.menu--vert {
    flex-direction: row;
    width: 200px;
}
.menu--vert .submenu {
    top: 100%;
    left: 0;
}

.greeting{
    background-color: rgb(217, 205, 191, 0.8);
    color: #52260B;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 50px 300px 50px 300px;
}

/*size-table*/
.size_table table{
    width: 95%;
    text-align: center;
    color: #52260B;
    font-weight: bold;
    font-size: 22px;
    margin-left: 30px;
    background-color: rgb(217, 205, 191, 0.8);
}
